<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Clock</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: 'Calibri', sans-serif;
            text-align: center;
            margin-top: 25%;
            font-size: 3em;
        }
    </style>
    <script>
        function updateTime() {
            fetch('/get_time')
                .then(response => response.text())
                .then(time => {
                    document.getElementById('clock').innerText = time;
                });
        }

        setInterval(updateTime, 1000);
    </script>
</head>
<body>
    
    <div id="clock"></div>
</body>
</html>
